
<div class="container" [style.margin-top.rem]="1">

  <!-- Text area label -->
  <div class="textarea-label">
    What's on your mind?
  </div>

  <!-- New Post -->
  <textarea autosize class="form-control" [(ngModel)]="newPostBody" [mentionConfig]="mentionConfig"
    placeholder="Type here..." minRows="2" >
  </textarea>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary submit-btn float-right" [disabled]="!newPostBody" (click)="addPost()">Add Post</button>
    </div>
  </div>

  <!-- Posts List -->
  <app-post *ngFor="let post of posts" [post]="post" (delete)="deletePost($event)" (edit)="editPost($event)"></app-post>

</div>
