
<!-- Delete confirmation modal -->
<app-modal-confirmation (confirm)="deletePost()" (close)="deleting = false"
  [visible]="deleting" [title]="'Delete Post?'" [confirmLabel]="'Delete'" [delete]="true">
  <span class="body-content">
    <p>You can edit it if you just need to change something.</p>
    <p>Do you want to delete anyway?</p>
  </span>
</app-modal-confirmation>

<div class="card" [style.margin-bottom.rem]="1">
  <div class="card-header">
    <!-- New Badge -->
    <div class="new-badge" *ngIf="isNewPost(post)"
      data-toggle="tooltip" data-placement="top" title="This Post was created less than 5 seconds ago">
      <span class="badge badge-success">New</span>
    </div>

    <!-- Date -->
    <small class="text-muted float-left" [style.margin-top.rem]="0.2">
      {{ post.postDate | timeAgo }}
    </small>

    <!-- Delete Icon -->
    <i class="fa fa-trash-alt icon-button delete-button" (click)="deleting = true"
      data-toggle="tooltip" data-placement="top" title="Delete this post">
    </i>

    <!-- Edit -->
    <i class="fa fa-edit icon-button edit-button" (click)="startEditPost()"
      data-toggle="tooltip" data-placement="top" title="Edit this post">
    </i>

  </div>

  <!-- Body -->
  <div class="card-body">

    <!-- Edit -->
    <textarea #bodyTextArea *ngIf="editing" autosize minRows="2"
      class="form-control"
      [(ngModel)]="bodyText">
    </textarea>

    <!-- Read -->
    <span class="form-control readonly-textarea" *ngIf="!editing" [innerHTML]="bodyText"></span>

    <!-- Edit buttons -->
    <span *ngIf="editing">
      <button type="button" class="btn btn-primary btn-sm" (click)="onConfirmEdit()">Save</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="onCancelEdit()">Cancel</button>
    </span>

  </div>
</div>
