.alert-message {
    visibility: hidden; /* Hidden by default. Visible when needed */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    top: 1rem; /* 1rem from the top */
    right: 1rem; /* 1rem from the right */
}

.alert-icon-close {
  margin-top: -0.1rem;
  display: flex;
}
