<div class="container" [style.margin-top.rem]="1">

  <div class="row">

    <!-- Employee List -->
    <div class="col-12 col-md-8">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees" >
            <td>{{ employee.username }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.name }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- Employee form -->
    <div class="col-12 col-md-4">
      <app-employee-form></app-employee-form>
    </div>

  </div>

</div>
